/* Large Tablet Devices */
@media only screen
and (max-width : 1390px) {
  /*Header Area*/
  .header_con {margin: 0 15px;}
  /*Nav Area*/
  #nav_area {float: right;width: calc(100% - 300px);}
  /*Banner Area*/
  .slider {width: 115%;height: auto;}
  .rslides {display: block;}
  .box_skitter {display: none;}

  .bnr_info > div {margin: 0 15px;}
  /*Middle Area*/

  /*Main Area*/
  #main_area {margin: 0 15px;}

  /*Bottom Area*/
  .btm1_boxes {margin: 165px 15px 0;}

  #bottom2 {padding: 0 15px;}

  .btm2_con form input[type="email"] {margin: 0 5px;}
  .btm2_con form textarea {margin: 0 10px;}
  /*Footer Area*/
  footer  {padding: 0 15px;}

  .footer_top_img {position: relative;left: 18px;}

  .footer_nav ul li {padding: 0;width: 13%;}
}

@media only screen
and (max-width : 1300px) {
  /*Header Area*/

  /*Nav Area*/
  .page_nav ul li {padding: 0 8px !important;}
  .page_nav ul li:first-child {padding-left: 0!important;}
  .page_nav ul li:last-child {padding-right: 0!important;}
  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/

}
@media only screen
and (max-width : 1200px) {
  /*Header Area*/
  .main_logo {width: 200px;margin-top: 50px;}
  /*Nav Area*/
  #nav_area {width: calc(100% - 215px);}
  .page_nav ul li a {font-size: 18px;}
  /*Banner Area*/
  .bnr_info h2 {font-size: 40px;}
  .bnr_info p {position: static;width: calc(100% - 550px);}
  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/

}
@media only screen
and (max-width : 1090px) {
  html, body{
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */
  }
  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/


}

@media only screen
and (max-width : 1024px) {
  .main_logo {width: 185px;}

  #nav_area {width: calc(100% - 190px);}
   /* Nav Area Sub-Menu Style */
   .page_nav ul li.menu-item-has-children > span{display:block;font-size: 17px;right:20px;top:30px;position:absolute;}
   .page_nav ul li:hover > ul{display: none;}

   /*banner*/
   .box_skitter{top:0!important;}
}

@media only screen
and (max-width : 1000px) {

  /*Header Area*/
  header {padding: 40px 25px;position: static;background:#01001e;}
  .header_con{min-height: 0;padding:0;margin: 0;}

  .main_logo{float: none;position: static;margin: 0 auto;text-align: center;width: 260px;}
  
  .social_media{display:block;margin:15px 0 0;}

  /*Nav Area*/
  #nav_area {width: 100%;}
  .page_nav {width:100%;float: none; clear: both;height:auto;transition:none;margin:0 auto 0;}
  .page_nav ul{ margin:0;text-align:center;position: static;}
  .page_nav ul li{width: 32%; margin:5px 3px;position: static;padding:0!important;}
  .page_nav ul li:after{display:none;}
  .page_nav ul li a{border:1px solid #87ceeb;border-radius:5px;line-height: 60px;height:auto;font-size: 20px;}
  .page_nav ul li a:hover, .page_nav ul li a:active, .page_nav ul li.current_page_item > a{text-decoration: none;background:#87ceeb;color: #1a1a1a;}

  .page_nav ul li.menu-item-has-children > span{right:0;top:15px;}


  .page_nav ul ul, .page_nav ul ul li, .page_nav ul ul li a {width:100%;}
  .page_nav ul ul li{margin: 0 !important}

  /*Banner Area*/
  #banner{}
	.bnr_con{min-height:0;padding:0;}
	.box_skitter{display:none;}
	.slider{display:block;width:100%;margin-left:0;}
  .slider::before {display: none;}
    .bnr_info{width:100%;position:static;padding:45px 25px;text-align: center;background:#01001e;text-align: center;margin: 0;}

    .bnr_info h2 {font-size: 50px;}
    .bnr_info p {width: 100%;margin: 25px 0;}

    .bnr_info > div {margin: 0;}
    .bnr_info > div >div {flex-direction: column};

	/*NON-HOME*/
    .non_ban_img{width: 185%;margin-left: -40%;transform:none;}



  /*Middle Area*/
  #middle{padding: 40px 25px;}
	 .middle_con{min-height:0;padding:0;}
	  .middle_boxes{}
	  .middle_boxes section{}

  /*Main Area*/
  #main_area{padding:40px 25px; margin:0;min-height:0;}
    .main_con{min-height:0;padding:0;}
      main, .sidebar{float:none; margin: auto; width:100%;}

      main{}
      .sidebar{}

      .intro_txt{width:100%;}

  /*Bottom Area*/
  #bottom1{padding: 40px 25px;background: #01001e;height: auto;}
  .btm1_parallax {display: none;}
	 .btm1_con{min-height:0;padding:0;}
   .btm1_con .btm1_info {padding: 0;}
   .btm1_con .btm1_info p {width: 100%;}
   .btm1_boxes {position: static;flex-wrap: wrap;margin: 15px 0 0;}
   .btm1_boxes section {width: 48%!important;margin: 5px;border: none;height: auto;min-height: auto;animation-duration: 0ms!important;}

  .btm1_boxes section:nth-of-type(1) .btm1_box_inside {animation-delay: 0ms;}
  .btm1_boxes section:nth-of-type(2) .btm1_box_inside {animation-delay: 0ms;}
  .btm1_boxes section:nth-of-type(3) .btm1_box_inside {animation-delay: 0ms;}
  .btm1_boxes section:nth-of-type(4) .btm1_box_inside {animation-delay: 0ms;}

   .btm1_boxes section h2 {margin-top: 0;}
   .btm1_boxes section a {margin-bottom: 0;}
  #bottom2{padding: 40px 25px;min-height: auto;height: auto;}
	 .btm2_con{min-height:0;padding:0;}
   
   .btm2_info {margin-bottom: 25px;}
   .btm2_info h2 {position: static;}
   .btm2_info h2 span {position: static;}

   .btm2_con form {flex-wrap: wrap;}
   .btm2_con form input[type="text"] {position: static;width: 49%;}
   .btm2_con form input[type="email"] {position: static;width: 49%;margin: 0;}
   .btm2_con form textarea {position: static;width: 100%;margin: 10px 0;}
  /*Footer Area*/
  footer{padding: 0;}
    .footer_top{height:auto;padding: 40px 25px 0;}
	  .footer_top_con{min-height:0;padding:0;}
    .footer_top_img {display: none;}

	   .contact_info{width:100%;float:none;text-align:center;margin:0 auto;}
	   .contact_info ul{}
	   .contact_info ul li{padding:0;display:inline-block;vertical-align:top;margin:0 15px;}
	   .contact_info ul li:before{display:block;position:static;margin:0 auto 10px;}

     .copyright_social {position: static;display: block;margin: 0;}
     

     .phone_location {margin-top: 25px;}
     .phone_location .phone {height: auto;position: static;}
     .phone_location .phone::before{position: relative;top: 0;left: 0;}

     .phone_location .location {height: auto;position: static;}
     .phone_location .location::before {position: relative;top: 0;left: 0;}

     .social_media ul {position: static;}
     .social_media ul li {margin: 0!important;position: static!important;}
     .social_media p {position: static;}

	  .footer_btm{height:auto;min-height: auto;padding: 40px 25px;}
	  .footer_btm_con{min-height:0;padding:0;}

    .footer_nav ul {margin: 0;}
  	.footer_nav ul li{display:inline-block;vertical-align:top;width:32%;padding: 0;position: static!important;}
  	.footer_nav ul li a{border:1px solid #87ceeb;margin:5px;padding:15px 10px;line-height: initial;}
	.footer_nav ul li a:hover, .footer_nav ul li a:active, .footer_nav ul li.current_page_item a{text-decoration:none;background:#87ceeb;color: #1a1a1a;}
  	.footer_nav ul li:after{display:none;}

  	.copyright{
  		float: none;
  		margin: 25px auto 0;
  		text-align: center;
  	}
    .copyright::after {display: none;}
}

@media only screen
and (max-width : 800px) {

  /* Header Area */
  header{display: none;}
	.main_logo{max-width: 70%;text-align: left;margin: 0;}
	.head_info{display:block;margin:0 auto;text-align:center;padding:0;float:none;}
	.header_info{display:block;margin:0 auto;text-align:center;padding:0;float:none;}

	.social_media{}

  /* Nav Area*/
  #nav_area{padding:25px 15px;background:#01001e;position:relative;z-index: 100;}
  .nav_toggle_button{display:block;position:relative;}

	.page_nav {width: 280px;position: fixed;top: 0;right: -280px;height: 100%;background: #999999;transition: all 0.7s ease;overflow-y: scroll;padding: 0 0 30px;opacity: 0;float: none; clear: both;z-index:250;}
	.page_nav ul{margin: 0; padding: 25px 15px;}
	.page_nav ul li{width: 100%; display: block; margin: 0 auto 5px;}

	.page_nav ul ul{width:100%; position:relative;  transition:none;}
	.page_nav ul ul li {border:none; width:100%;}
  .page_nav ul li a {color: #1a1a1a;}



  /* Toggle Style */
  .toggle_right_nav {position: fixed;top: 0;left: 0;right: 0;width:100%;height: 100%;z-index: 1000;visibility: hidden; transition: all 0.7s ease;}
  .toggle_nav_close {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2;}
  .toggle_right_cont {visibility: visible;background: rgba(0,0,0,0.9);}
  nav.toggle_right_style {right: 0;opacity: 1;z-index: 45;background: white;}
  .logo_slide_right {display:block;float:left;width: calc(100% - 90px);}

  .menu_slide_right {display: block;text-align: left;padding: 20px 10px;background: #01001e;position: relative;}

  /*Banner Area*/

  /*Middle Area*/


  /*Main Area*/

  /*Bottom Area*/
  .btm1_boxes section {width: 100%!important;}

  .btm2_con form input[type="text"] {position: static;width: 100%;}
   .btm2_con form input[type="email"] {position: static;width: 100%;margin-top: 10px;}

  /*Footer Area*/
  .contact_info{}
  .contact_info ul{}
  .contact_info ul li{display:block;margin:15px auto;}

  .phone_location {flex-direction: column;}
  .phone_location .phone {width: 100%;}
  .phone_location .location {width: 100%;}

  .social_media ul {display: flex;justify-content:center;}
  .social_media ul li:first-child {margin-right: 5px!important;}


  .footer_nav ul li{width:48%;}

  .footer_comp{display:block;margin:0 auto;padding:0;}
  .footer_comp:before, .footer_comp:after{display: none;}

  /* Other */
  .thumb_right_dd, .thumb_left_dd{width: 250px;}
  .col3{-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
  .sitemap{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
}

/* Smartphones */
@media only screen
and (max-width : 600px) {

  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/
  .non_ban_img{width: 275%;margin-left: -82%;}
  .page_title{position: static;background: #01001e;font-size: 30px;}



  /*Middle Area*/
  .middle_boxes section{display:block;width: 100%;margin:15px auto;}

  /*Main Area*/

  /*Bottom Area*/
  .btm1_boxes section{display:block;width: 100%;margin:15px auto;}


  /*Footer Area*/
  footer {padding-bottom: 45px;}

  .footer_nav ul li{display:block;vertical-align:top;width:100%;}
  .footer_nav ul li a{margin:5px auto;}


  /*Others*/
  #wpadminbar {position: fixed!important;}
  .col2, .col3{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
  .thumb_left_dd, .thumb_right_dd, .thumb_center_dd{display: none;}
  main .bullet{padding-left:10px;}

  /*For (AddThis) Plugins*/
  .withAddThis_plugins {bottom: 48px;}
  .withAddThis_ftr_btm {padding: 0 10px 88px;}
  /*End (AddThis) Plugins*/

}

@media only screen
and (max-width : 500px) {
  .bnr_info h2 {font-size: 30px;}

  .btm1_con .btm1_info h2 {font-size: 30px;}

  .btm1_boxes section a {width: 100%;}

  
  .btm2_info h2 {font-size: 40px;}
  .contact_info .contact_details {font-size: 40px;}
  .phone_location {font-size: 16px;}

  .designed {display: block;padding: 0;}
  .designed::before {display: none;}
}
