/* Large Tablet Devices */
@media only screen
and (max-width : 1400px) {
  /*Nav Area*/
  .page_nav ul {
    padding: 0 25px;
  }
  .page_nav ul li{
    padding: 0;
    width: 16%;
  }

  /*Header Area*/
  .header_con{
    padding: 30px 25px;
  }

  /*Banner Area*/
  .bnr_info{margin-left: 25px;}
  /*Middle Area*/
  .middle_con{
    padding: 155px 25px 0;
  }
  /*Main Area*/
  #main_area{
    padding: 0 25px;
  }

  /*Bottom Area*/
  .btm1_info_con{margin: 0 0 0 25px;}
  .btm1_boxes{margin: 0 25px;}
  /*Footer Area*/
  .footer_nav ul li{
    padding: 48px 0;
    width: 16%;
  }
}

@media only screen
and (max-width : 1300px) {
  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/

}
@media only screen
and (max-width : 1200px) {
  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/
  main{
    top: 150px;
  }
  .main_icon_con{
    width: 940px;
    top: 185px;
  }
  main .h1_title{
    font-size: 65px;
  }
  /*Bottom Area*/

  /*Footer Area*/
  .contact_info2 ul{margin-left: 10px;}
  .contact_info2 ul::before {
    position:  relative;
    display: block;
    transform: scale(.8);
    left: -40px;
  }

}
@media only screen
and (max-width : 1090px) {
  html, body{
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */
  }
  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/


}

@media only screen
and (max-width : 1024px) {
   /* Nav Area Sub-Menu Style */
   .page_nav ul li.menu-item-has-children > span{display:block;font-size: 17px;right:20px;top:30px;position:absolute;}
   .page_nav ul li:hover > ul{display: none;}

   /*banner*/
   .box_skitter{top:0!important;}
}

@media only screen
and (max-width : 1000px) {

  /*Header Area*/
  header {padding: 40px 25px;}
  .header_con{min-height: 0;padding:0;position: static;padding: 25px 0;}

  .main_logo{}
  .head_info{}
  .header_info{}
  .header_con::before,
  .header_con::after{display: none;}
  .social_media{display:block;margin:15px 0 0;}

  /*Nav Area*/
  .page_nav {width:100%;float: none; clear: both;height:auto;transition:none;padding:25px 15px;margin:0 auto 0;}
  .page_nav ul{ margin:0; padding:0 5px;text-align:center;height: auto;}
  .page_nav ul li{width: 32%; margin:5px 3px;}
  .page_nav ul li:after{display:none;}
  .page_nav ul li a{border:1px solid #fff;border-radius:5px;height:auto;padding: 15px 0;}
  .page_nav ul li a:hover, .page_nav ul li a:active, .page_nav ul li.current_page_item > a{text-decoration: none;background:#ddd;color: #222222;}

  .page_nav ul li.menu-item-has-children > span{right:0;top:15px;}


  .page_nav ul ul, .page_nav ul ul li, .page_nav ul ul li a {width:100%;}
  .page_nav ul ul li{margin: 0 !important}

  /*Banner Area*/
  #banner{}
	.bnr_con{min-height:0;padding:0;}
  .bnr_info{margin: 0;}
	.box_skitter{display:none;}
	.slider{display:block;width:100%;margin-left:0;height: auto;}

    .bnr_info{width:100%;position:static;padding:45px 25px;text-align: center;background:linear-gradient(360deg,#00a3d9,#0eafc7);text-align: center;transform: none;height: auto;}
    .bnr_info h2 small{display: inline-block;}
    #banner .rslides img{
      position: relative;
      left: 32%;
      transform: translateX(-51%);
      max-width: 150%;
      width: 150%;
    }
    .bnr_info a{display: inline-block;margin: 40px 0 0;}
    .bnr_info q{display: none;}
	/*NON-HOME*/
    .non_ban_img{width: 185%;margin-left: -40%;transform:none;}
    .non_ban_img img{object-fit: cover;height: 500px;object-position: center;}


  /*Middle Area*/
  #middle{padding: 40px 25px;height: auto;}
	 .middle_con{min-height:0;padding:0;}
   
   .middle_box{
    flex-wrap: wrap;
    margin: 0;
  }
	  .middle_boxes{}
	  .middle_boxes section{width: 50%;margin-bottom: 60px;}

  /*Main Area*/
  #main_area{padding:40px 25px; margin:0;min-height:0;background: #0385b0;height: auto;}
    .main_con{min-height:0;padding:0;}
      main, .sidebar{float:none; margin: auto; width:100%;}

      main{position: static;}
      .main_icon_con{display: none;}

      .intro_txt{width:100%;}

  /*Bottom Area*/
  #bottom1{padding: 40px 25px;background: #effbff;height: auto;}
	 .btm1_con{min-height:0;padding:0;}
   .btm1_info_con{background: none;position: static;height: auto;margin: 0 0 50px;}
   .btm1_info_con::before{
     display: none;
   }
   .btm1_info{
     background: none;
     width: 100%;
     text-align: center;
     height: auto;
   }
   .btm1_content{
     transform: none;
     position: static;
     width: 100%;
   }
   .btm1_content a:nth-of-type(2){margin: 50px auto 0;}
	  .btm1_boxes{padding: 0;flex-direction: column;}
    
	  .btm1_boxes section{width: 100%; background: white; padding: 40px 25px;margin-bottom: 20px;}
    .btm1_boxes section figure{display: none;}
    .btm1_services{padding: 40px 25px;}

  /*Footer Area*/
  footer{}
    .footer_top{height:auto;padding: 40px 25px;}
	  .footer_top_con{min-height:0;padding:0;position: static;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      }
    .footer_top_con::after{display: none;}

	  .contact_info1{order: 2;}
    .contact_info2 ul li h2{
      font-size: 25px;
    }
    .contact_info2 ul::before{
      display: none;
    }
	  .footer_btm{height:auto;padding: 40px 25px;}
	  .footer_btm_con{min-height:0;padding:0;}

    .footer_nav ul {height: auto;}
  	.footer_nav ul li{display:inline-block;vertical-align:top;width:32%;padding: 0;}
  	.footer_nav ul li a{border:1px solid #fff;margin:5px;padding:15px 10px;line-height: initial;}
	.footer_nav ul li a:hover, .footer_nav ul li a:active, .footer_nav ul li.current_page_item a{text-decoration:none;background:#ddd;color: #222222;}
  	.footer_nav ul li:after{display:none;}

  	.copyright{
  		float: none;
  		margin: 25px auto 0;
  		text-align: center;
  	}
}

@media only screen
and (max-width : 800px) {

  /* Header Area */
  header{background: linear-gradient(360deg,#00a3d9,#0eafc7);;}
	.main_logo{max-width: 78%;}
	.head_info{display:block;margin:0 auto;text-align:center;padding:0;float:none;}
	.header_info{display:block;margin:0 auto;text-align:center;padding:0;float:none;}
  .header_info h2{margin: 0;}
  .header_con{background: none;color: white;padding: 0;height: auto;}
	.social_media{margin: 10px 0 0;}
  .social_media ul li{display: inline-block;}

  /* Nav Area*/
  #nav_area{padding:25px 15px;position:relative;}
  .nav_toggle_button{display:block;position:relative;}

	.page_nav {width: 280px;position: fixed;top: 0;right: -280px;height: 100%;background: #999999;transition: all 0.7s ease;overflow-y: scroll;padding: 0 0 30px;opacity: 0;float: none; clear: both;z-index:250;}
	.page_nav ul{margin: 0; padding: 25px 15px;}
	.page_nav ul li{width: 100%; display: block; margin: 0 auto 5px;}

	.page_nav ul ul{width:100%; position:relative;  transition:none;}
	.page_nav ul ul li {border:none; width:100%;}


  /* Toggle Style */
  .toggle_right_nav {position: fixed;top: 0;left: 0;right: 0;width:100%;height: 100%;z-index: 1000;visibility: hidden; transition: all 0.7s ease;}
  .toggle_nav_close {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2;}
  .toggle_right_cont {visibility: visible;background: rgba(0,0,0,0.9);}
  nav.toggle_right_style {right: 0;opacity: 1;z-index: 45; background: linear-gradient(360deg,#00a3d9,#0eafc7);}
  .logo_slide_right {display:block;float:left;width: calc(100% - 90px);}

  .menu_slide_right {display: block;text-align: left;padding: 20px 10px;background: #fff;position: relative;}

  /*Banner Area*/

  /*Middle Area*/


  /*Main Area*/

  /*Bottom Area*/


  /*Footer Area*/
  .contact_info{}
  .contact_info ul{}
  .contact_info ul li{display:block;margin:15px auto;}


  .footer_nav ul li{width:48%;}

  .footer_comp{display:block;margin:0 auto;padding:0;}
  .footer_comp:before, .footer_comp:after{display: none;}

  /* Other */
  .thumb_right_dd, .thumb_left_dd{width: 250px;}
  .col3{-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
  .sitemap{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
}

/* Smartphones */
@media only screen
and (max-width : 600px) {

  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/
  .slider{display:none;}
  .mobi_ban{display: block;width:100%;margin-left:0;}
  .non_ban_img{width: 275%;margin-left: -82%;}
  .page_title{position: static;background: linear-gradient(360deg,#00a3d9,#0eaec798);font-size: 30px;}



  /*Middle Area*/
  .middle_boxes section{display:block;width: 100%;margin:15px auto;}

  /*Main Area*/

  /*Bottom Area*/
  .btm1_boxes section{display:block;width: 100%;margin:15px auto;}
  .btm1_content a:nth-of-type(2){text-align: center;width: 100%;font-size: 30px;}
  .btm1_content a:nth-of-type(2)::after{
    display: none;
  }

  /*Footer Area*/
  footer {padding-bottom: 45px;}

  .footer_nav ul li{display:block;vertical-align:top;width:100%;}
  .footer_nav ul li a{margin:5px auto;}


  /*Others*/
  #wpadminbar {position: fixed!important;}
  .col2, .col3{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
  .thumb_left_dd, .thumb_right_dd, .thumb_center_dd{display: none;}
  main .bullet{padding-left:10px;}

  /*For (AddThis) Plugins*/
  .withAddThis_plugins {bottom: 48px;}
  .withAddThis_ftr_btm {padding: 0 10px 88px;}
  /*End (AddThis) Plugins*/

}

@media only screen
and (max-width : 500px) {
  .contact_info2 ul li:nth-of-type(2) q{display: none;}
  .copyright p{margin: 0;}
  .copyright p:before{
    display: none;
  }

}
